<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link>
    <meta charset="UTF-8">
    <title>Login - Patreon</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <form action="http://www.patreon.com/oauth2/authorize" method="get">
        <input type="hidden" name="response_type" value="code" />
        <input type="hidden" name="client_id" th:value="${patreonAuth.id}" />
        <input type="hidden" name="redirect_uri" th:value="${patreonAuth.uri}" />
        <button class="btn btn-lg btn-warning btn-block">Log in with Patreon</button>
    </form>
</body>
</html>